/* Fonts */

@font-face {
  font-family: 'NanumGothic-Bold';
  src: url('../fonts/Nanum_Gothic/NanumGothic-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumGothic-ExtraBold';
  src: url('../fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumGothic-Regular';
  src: url('../fonts/Nanum_Gothic/NanumGothic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
}

/* Farben

#D3FFC1
#1AE832
#63FF4E
#9EFF8A
#34BA1A
#268A13


/* Header Design */
html {
  align-content: center;
  min-width: 600px;
}

body {
  background-color: #D3FFC1;
  text-rendering: geometricPrecision;
}

h1, h2, h3 {
  font-family: 'Pacifico', Arial;
}

a {
  font-family: 'NanumGothic-Bold';
}




.divider {
  border-left-style: solid;
  border-color: #1AE832;
}

.logo {
  width: 240px;
}

.logo:hover {
  transform: rotateX(360deg) rotate(360deg);
  transition: all 2s;
}

.nav-item:hover {
  transform: scale(1.05);
  transition: all 0.5s;
  text-rendering: geometricPrecision;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

@media (max-width: 800px;) {
  .header{
    width: 100%;
    height: 15%;
    background-color: #63FF4E;
    position:sticky;
  }

  /* wrapper */

  .wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    min-height:1020px;
    padding-top: 120px;
    padding-bottom: 30px;
    background-color: #9EFF8A;
  }
}
@media (min-width: 800px) {
  .header{
    width: 100%;
    height: 130px;
    background-color: #63FF4E;
    position:fixed;
  }

  /* wrapper */

  .wrapper {
    width: 900px;
    margin: 0 auto;
    height: 100%;
    min-height:1020px;
    padding-top: 120px;
    padding-bottom: 30px;
    background-color: #9EFF8A;
  }
}

.navigation {
  margin-left: 30px;
  margin-right: 60px;
  font-size: 1.2em;
}
/* Table */
.table {
  border-radius: 15px;
  border-color: lightgreen;
  border-width: 10px;
  font-size: 0.6rem;
}


.table-classic {
  background-color: #34BA2F;
  margin: 0;
  height: 500px;
}

.tab-container {
  display: flex;
}

.table-classic th {
  background-color: darkgreen;
}

th, td {
  max-width: 130px;
}


.normal {
  background-color: green;
  color: black;
  margin: 0;
  padding: 4px;
  border-radius: 5px;
}

.special {
  background-color: lightgreen;
  border-color: green;
  border-radius: 5px;
  margin-left: 1;
  color: black;
  padding: 4px;

}

.l-r-slide {
  width: 150px;
  height: auto;
  margin: 10px;
  color: #1AE832;
  cursor: pointer;
}

.l-r-slide:hover {
  transition: all 0.7s;
}
.r-slide:hover {
  transform: translate3d(1em, 0, 0)
            scale(2)
            rotate(360deg);
}

.l-slide:hover  {
  transform: translate3d(-1em, 0, 0)
            scale(2)
            rotate(-360deg);
}



/* Main */


.main-body {
  margin-top: 100px;
}

.basic-container {
  background-color: #1AE832;
  font-family: 'NanumGothic-Regular';
  color: white;
  width: 100%;
  min-height: 13em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 5%;
}

.bottom-container {
  padding: 5%;
  background-color: #34BA1A;
  font-family: 'NanumGothic-Regular';
  width: 100%;
  min-height: 27em;
  margin-left: 0;
  margin-right: 0;
  margin-top: -1rem;
  margin-bottom: 0;
  color: white;
}

.side-container {
  font-family: 'NanumGothic-Regular';
  background-color: white;
  border-radius: 35px;
  padding: 35px;
  width: 20%;
}

.u-schrift {
  margin: 1.5rem;
  color: white;
}


.pict {
  width: 100%;
  height: auto;
}


/* Kontakt */

#InputCallsign, #InputEmail, #InputpastName, #InputfirstName, #inlineFormCustomSelect, #FormControlTextarea, #FormControlSelect {
  background-color: #D3FFC1;
}




/* Footer */

.footer {
  background-color: #63FF4E;
  position: fixed;
  height:7%;
  padding: -0px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-color: #1AE832;
  border-top-style: solid;
  padding: 3px;
  align-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

.footer-item {
  margin-left:20px;
  margin-right:20px;
  color: #34BA1A;
}

.footer-item:hover {
  color: #268A13;
  transform: scale(2)
            rotate(360deg);
  transition: all 0.7s;
}
